body{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header{
    background-color: #1f2937;
    display: flex;
}



.hero{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.logo{
    font-size: 24px;
    color: #f9faf8
}


.exp{
    padding-left: 55px;
    font-size: 48px;
    padding-bottom: 60px;
    font-weight: bolder;
    color: #f9faf8;
}

.sign{
    padding-left: 55px;
    padding-bottom: 70px;
    font-size: 18px;
    color: #e5e7eb;
}

.button{
    font-size: 15px;
    font-weight: bold;
     background-color: #3882f6;
     color: #f9faf8;
     margin-left: 550px;
     border-radius: 5px;
     padding: 10px;
}



.cover{
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 300px;
    padding-left: 110px;
    padding-bottom: 10px;
}



.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px;
}

.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 150px;
    padding-bottom: 50px;
    padding-left: 205px;
}

.beans , .beans4{
    border: 5px solid #3882f6;
    border-radius: 5px;
    gap: 100px;
    max-width: 250px;
    max-height: 350px;
}

.beans4{
    max-width: 260px;
    max-height: 360px;
}

.tile1 , .tile2 , .tile3 , .tile4{
    max-width: 250px;
    max-height: 350px;
}

.text1 , .text2 , .text3 , .text4{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 150px;
}

.text{
    font-size: 36px;
    color: #1f2937;
}

.author{
    font-size: 25px;
    color: #1f2937;
    font-weight: bold;
    padding-left: 600px;
    padding-top: 75px;
}

.signup{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 50px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
    background-color: #3882f6;
}

.button2 , .is-style-outline>:where(.wp-block-button__link), :where(.wp-block-button__link).is-style-outline{
	border: 2px solid;

    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.divbutton2{
    align-self: center;
    margin-left: auto;
}


ul{
  list-style-type:none; 
  display: flex;
  gap: 50px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}